<div class="page-header">
	<h1>About Sciero
		<p>
			<hr>
			<small>
				<ul>
					What a better place to have a tech startup than in Boston, Massachusetts, the global hub of scientific research and technology?
					<br /><br />
					Our work is inspired by growing trends in Big Data analytics and bioinformatics.
					<br /><br />
					We take a high-level approach to every project and feature.
					<br /><br />
					We aim to achieve the highest usability standard that is streamlined and accessible for every scientist.
					<br /><br />
					It is our goal with the latest tools available to us in deep information technology to redefine the conventional scientific means of research by increasing the efficiency of data collection, documentation, management, and collaboration.
				</ul>
			</small>
		</p>
	</h1>
	<br />
	<h4>Please <%= link_to "contact", contact_path %> us with any related questions.</h4>
</div>