<div class="page-header">
	<h1>Product Development
		<p>
			<hr>
			<small>
				<ul>
					We have a number of products that we're developing which are designed to decrease wasted time, effort, and money, and increase efficiency, productivity, and cost-effective savings. Tacky, I know. I'm writing this late at night with zero brain power.
					<br /><br />
					Our flagship product is Ehrlich. It's Amazon for antibody research. Through a simple rating and feedback system, users can determine the validity of any given antibody through reproducible protocols. Seriously...no brain.
				</ul>
			</small>
		</p>
	</h1>
</div>