<div class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<footer>
				<small>
					&copy; 2013 by Syphase. All Rights Reserved.
				</small>
			</footer>
		</div>
	</div>
</div>